    <%include header%>
    <div class="container">
        <div class="row">
            <div class="col-12 my-5 text-center">
                <div class="iconthanhcong" style="color: <%= color%>"><i class="<%= icontb%>"></i></i></div>
                <div class="tentrangthai my-2" style="color: <%= color%>"><%= tentrangthai%></div>
                <div class="motatrangthai my-2"><%= motatrangthai%></div>
                <div class="vetrangtru my-3"><a href="<%= duonglink%>"><%= tenlink%> &#8594;</a></div>
            </div>
        </div>
    </div>
   <%include footer%>